*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  background: #fff;
}
.navigation{
  position: fixed;
  top: 20px;
  left: 20px;
  bottom: 20px;
  width: 80px;
  border-radius: 10px;
  box-sizing: initial;
  border-left: 5px solid #6b7dbe;
  background: #6b7dbe;
  transition:  width 0.5s;
  overflow-x: hidden;
}

.navigation ul li b:nth-child(1)
{
  position: absolute;
  top: -20px;
  height: 20px;
  width: 100%;
  background: #fff;
  display: none;
}
.navigation ul li b:nth-child(1):before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
  background: #6b7dbe;
}

.navigation ul li b:nth-child(2)
{
  position: absolute;
  bottom: -20px;
  height: 20px;
  width: 100%;
  background: #fff;
  display: none;

}
.navigation ul li b:nth-child(2):before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  background: #6b7dbe;
}
.navigation ul li.active b:nth-child(2),
.navigation ul li.active b:nth-child(1){
  display: block;
}


.navigation.active{
  width: 300px;
}


.navigation ul
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}
.navigation ul li
{
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.navigation ul li a
{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.navigation ul li a .icon
{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-top: 10px;
}
.navigation ul li a .icon ion-icon{
  font-size: 1.5em;

}

.navigation ul li a .title
{
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: normal;
  margin-top: 5px;
  margin-left: 5px;
}

.navigation ul li.active
{
  background: #fff;
}

.navigation ul li.active a{
  color: #333;
}

.toggle{
  position: fixed;
  top: 20px;
  right: 50px;
  width: 50px;
  height: 20px;
  background: #6b7dbe;
  cursor: pointer;
  border-radius: 10px;

}
