<div class="container-main">
  <div class="container" [ngClass]="rightActive ? 'right-panel-active' :''"  id="container">
    <div class="form-container sign-up-container">
      <form action="#" [formGroup]="formGroup" >
        <div class="title-container">
          <h1 class="title">Create Account</h1>
          <span>or use your email for registration</span>
        </div>
        <input type="text" placeholder="Name" formControlName="name" />
        <input type="text" placeholder="Surname" formControlName="surname" />
        <input type="text" placeholder="Username" formControlName="username" />
        <input type="email" placeholder="Email" formControlName="email" />
        <input type="password" placeholder="Password" formControlName="password" />
        <input type="text" placeholder="Phone" formControlName="phone" />
        <input type="text" placeholder="Phone" formControlName="jmbg" />
        <input type="text" placeholder="Jmbg" formControlName="phone" />
        <div formGroupName="profession">
          <input  type="text" placeholder="Status" formControlName="professionStatus"/>
          <input  type="text" placeholder="Description" formControlName="professionDescription"/>
        </div>
        <div formGroupName="address">
          <input  type="text" placeholder="Street" formControlName="street"/>
          <input  type="text" placeholder="City" formControlName="city"/>
          <input  type="text" placeholder="Country" formControlName="country"/>
          <input  type="text" placeholder="Street number" formControlName="streetNumber"/>
        </div>
        <button (click)="onSignUp()">Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form (ngSubmit)="signIn()">
        <div class="title-container">
          <h1>Sign in</h1>
          <span>or use your account</span>
        </div>
        <input type="text" placeholder="Email" [(ngModel)]="userId" name="userId"/>
        <input type="password" placeholder="Password" />
        <a href="#">Forgot your password?</a>
        <button (click)="signIn()">Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn" (click)="activatePanel()">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost" id="signUp" (click)="activatePanel()">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
