<div class="container-fluid">
<article class="card">
  <div class="thumb"></div>
  <div class="infos">
    <h2 class="title">{{center.name}}<img class="flag" src="assets/blood-test.png"></h2>
    <h3 class="date">Working time: <span class="working-h">8 AM - 8 PM</span></h3>
    <h3 class="seats">Average grade: {{center.avgGrade}}</h3>
    <p class="txt">Description: {{center.description}}</p>
    <button class="details" (click)="centerProfile()">Center profile</button>
  </div>
</article>
</div>
