.filter{
  height: 20%;
  width: 100%;
  background-color: #fff;
  border-bottom-width: 2px;
  border-bottom-color: #3b4d79;
  border-bottom-style: solid;
}
.filter-item{
  margin-top: 15px;
  margin-left: 20px;
}
