.card1{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border-style: none;
  background-color: #c9d1ef;
  padding: 2%;
  margin-right: 2rem;
  text-align: center;
}
.card:hover{
  transform: scale(1.12);
  transition: 0.2s;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
}
.header{
  font-size: 20px;
  font-family: 'Grotesque', sans-serif;
}
.point{
  margin-top: 1%;
}
.button{
  margin-top: 1%;
}
.button:hover{
  background-color: #333333;
  color: #fff;
  transform: scale(1.12);
}

.window{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;

}
.card{
  margin-left: 2%;
  margin-right: 2rem;
  grid-column: auto;
  margin-top: 2%;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: flex-start;
}

.filter{
  height: 20%;
  width: 100%;
  background-color: #fff;
  border-bottom-width: 2px;
  border-bottom-color: #3b4d79;
  border-bottom-style: solid;
}
