<div class="container-fluid">
  <app-filter-bar (onCountryFilter)="getByCountryFilter($event)" (onRangeFilter)="getByRangeFilter($event)"  (onCityFilter)="getByCityFilter($event)"  (onGradeFilter)="getByGradeFilter($event)"
                  (onNameFilter)="getByNameFilter($event)" (onSortFilter)="sortCenters($event)"></app-filter-bar>
  <div class="row">
    <div class="col-7 scroll row col-md-7 parent">
      <div *ngFor="let center of centersFiltered" class="col-6 col-md-6">
        <app-center-card [center]="center"></app-center-card>
      </div>
    </div>
  <div class="col-5 col-md-5">
  <div class="main-map" id="map"></div>
  </div>
  </div>
</div>
