*{
  overflow: auto;
}
.header {
  font-size: 45px;
  font-weight: 600;
  background-image: linear-gradient(to left,#3b4d79, #3C779BFF);
  color: transparent;
  -webkit-background-clip: text;
  text-align: center;
}
.header-margin-top{
  padding-top: 20px;
}
.sub-color{
  background: #3b4d79;
}
.border-card{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.6s ease-in-out;
  margin-bottom: 20px;
}
.list-margin{
  margin-top: 10px;
}
