.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-text {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.space-between-container {
  display: flex;
  justify-content: space-between;
}
