<div class="container">
  <div class="container-f">
      <mat-stepper  #stepper >
        <mat-step [editable]="false">
          <ng-template matStepLabel>Create center</ng-template>
          <app-center-form [center]="center"></app-center-form>
          <div align="end">
            <button mat-flat-button color="primary" (click)="createCenter(stepper)">Next</button>
          </div>
          <lib-ng-toast></lib-ng-toast>
        </mat-step>

        <mat-step [editable]="false">
          <ng-template matStepLabel>Create center administrator</ng-template>
          <app-admin-form [admin]="admin"></app-admin-form>
          <div align="end">
            <button mat-flat-button color="primary" (click)="createAdmin()" [disabled]="emptyAdminValidation()">Next</button>
          </div>
          <lib-ng-toast></lib-ng-toast>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <div class="center-text">
            <p>You have successfuly create {{this.center.name}}.</p>
          </div>
          <div align="end">
            <button mat-flat-button color="success" (click)="redirectToCenters()">Done</button>
          </div>
        </mat-step>

      </mat-stepper>

  </div>
</div>
