<div class="container">
  <div class="container-f">
    <div class="parent">
      <div class="title-container">
        <h1 class="title">Create Center</h1>
      </div>

        <mat-form-field appearance="fill" class="input-create-center">
          <mat-label>Center name:</mat-label>
          <input matInput [(ngModel)]="center.name" placeholder="Name" >
        </mat-form-field>

        <mat-form-field appearance="fill" class="input-create-center">
          <mat-label>Center description:</mat-label>
          <input matInput [(ngModel)]="center.description" placeholder="Description" >
        </mat-form-field>

        <mat-form-field appearance="fill" class="input-create-center">
          <mat-label>Center rating:</mat-label>
          <input matInput [(ngModel)]="center.avgGrade" placeholder="Rating:" >
        </mat-form-field>

      <mat-form-field appearance="fill" class="input-create-center">
        <mat-label>Center country:</mat-label>
        <input matInput [(ngModel)]="center.country" placeholder="Country" >
      </mat-form-field>

      <div class="address-container" class="input-create-center">
        <mat-form-field appearance="fill" >
          <mat-label>Center city:</mat-label>
          <input matInput [(ngModel)]="center.city" placeholder="City" >
        </mat-form-field>
        <mat-form-field appearance="fill" >
          <mat-label>Center street:</mat-label>
          <input matInput [(ngModel)]="center.street" placeholder="Street" >
        </mat-form-field>
        <mat-form-field appearance="fill" >
          <mat-label>Center street number:</mat-label>
          <input matInput [(ngModel)]="center.streetNumber" placeholder="Street number" >
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill" class="input-create-center">
        <mat-label>Select center administrator</mat-label>
        <mat-select [(ngModel)]="selectedAdmin">
          <mat-option *ngFor="let admin of admins" [value]="admin.id" >
            {{admin.name}}
            {{admin.surname}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="g1-map" id="map"></div>

      <button mat-flat-button color="primary" (click)="createCenter()">Create</button>
    </div>
  </div>
</div>
