<div class="container">
  <div class="container-f">
      <mat-stepper  #stepper >
        <mat-step [editable]="false">
          <ng-template matStepLabel>Create center</ng-template>
          <app-center-form [center]="center"></app-center-form>
          <div align="end">
            <button mat-flat-button matStepperNext color="primary" (click)="createCenter(stepper)">Next</button>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Create center administrator</ng-template>
          <app-admin-form [admin]="admin"></app-admin-form>
          <div align="end">
            <button mat-flat-button color="primary" (click)="createAdmin()" >Next</button>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <div class="center-text">
            <p>You are now done, if you want to add more center administrators please go back.</p>
          </div>
          <div class="space-between-container">
            <button mat-flat-button matStepperPrevious color="primary">Back</button>
            <button mat-flat-button color="success" (click)="redirectToCenters()">Done</button>
          </div>
        </mat-step>

      </mat-stepper>

  </div>
</div>
