<div class="container">
  <div style="margin-top: 10px;">
    <ng-image-slider [images]="imgCollection" [imageSize]="{width: 650, height: 250, space: 10}" #nav></ng-image-slider>
  </div>
  <div class="header-margin-top">
    <h1 class="header">{{center.name}}</h1>
  </div>
  <mat-divider class="sub-color"></mat-divider>
  <mat-grid-list cols="2" rowHeight="1:1.25" style="margin-left: 10px; margin-right: 10px; margin-top: 20px">
    <mat-grid-tile>
      <mat-card class="information border-card">
        <mat-card-title>Center Information's</mat-card-title>
        <mat-list class="list-margin">
          <div mat-subheader>Description:</div>
          <mat-list-item>
            <div>
              {{center.description}}
            </div>
          </mat-list-item>
          <mat-divider class="sub-color"></mat-divider>
          <div mat-subheader>Average grade:</div>
          <mat-list-item>
            <div>
              {{center.avgGrade}}
            </div>
          </mat-list-item>
          <mat-divider class="sub-color"></mat-divider>
          <div mat-subheader>Country:</div>
          <mat-list-item>
            <div>
              {{center.country}}
            </div>
          </mat-list-item>
          <mat-divider class="sub-color"></mat-divider>
          <div mat-subheader>City:</div>
          <mat-list-item>
            <div>
              {{center.city}}
            </div>
          </mat-list-item>
          <mat-divider class="sub-color"></mat-divider>
          <div mat-subheader>Address:</div>
          <mat-list-item>
            <div>
              {{center.street}} {{center.streetNumber}}
            </div>
          </mat-list-item>
          <mat-divider class="sub-color"></mat-divider>
          <div mat-subheader>Working time:</div>
          <mat-list-item>
            <div>
              8 AM - 8 PM
            </div>
          </mat-list-item>
          <mat-divider class="sub-color"></mat-divider>
                  <mat-card-actions align="end">
                    <button mat-button class="details" (click)="updateCenter()">UPDATE</button>
                  </mat-card-actions>
        </mat-list>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile >
      <div class="g-map" id="map" style="margin-right: 30px"></div>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="header-margin-top">
    <h3 class="header">Other Medical Staff</h3>
  </div>
  <mat-divider class="sub-color"></mat-divider>
  <div class="container">
    <div class="row col col-md parent">
      <div *ngFor="let user of otherAdmins" class="col-6 col-md-6">
        <app-user-card  [user]="user"></app-user-card>
      </div>
    </div>
  </div>
  <div class="header-margin-top">
    <h3 class="header">Appointments</h3>
  </div>
  <mat-divider class="sub-color"></mat-divider>
  <div class="container">
    <div class="row col col-md">
      <div *ngFor="let appointment of appointments" class="col-6 col-md-6">
        <app-appointment-card [appointment]="appointment"></app-appointment-card>
      </div>
    </div>
  </div>
  <div class="header-margin-top">
    <h3 class="header">Blood supply</h3>
  </div>
  <mat-divider class="sub-color"></mat-divider>
  <div class="container">
    <div class="row col col-md">
      <div *ngFor="let bank of banks" class="col-6 col-md-6">
        <mat-list class="v-align">
        <mat-list-item>
        <div>
          Blood type:&nbsp;{{bank.bloodType}}
        </div>
        </mat-list-item>
        <mat-list-item>
          <div>
            Blood unit:&nbsp;{{bank.bloodUnit}}
          </div>
        </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>

