<div class="filter">
  <mat-form-field appearance="fill" class="filter-item">
    <mat-label>Filter by country</mat-label>
    <mat-select placeholder="Filter by country" (selectionChange)="selectCountry(selectedCountry)" [(ngModel)] = "selectedCountry" >
      <mat-option value="All">All</mat-option>
      <mat-option *ngFor="let center of centersUnique" [value]="center.country">{{center.country}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="filter-item">
    <mat-label>Filter by city</mat-label>
    <mat-select placeholder="Filter by city" (selectionChange)="selectCity(selectedCity)" [(ngModel)] = "selectedCity" >
      <mat-option value="All">All</mat-option>
      <mat-option *ngFor="let center of centersFilterdByCountry" [value]="center.city">{{center.city}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-form-field filter-item" appearance="fill">
    <mat-label>Search by name</mat-label>
    <input matInput type="text" >
    <button  matSuffix mat-icon-button aria-label="Clear" >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

</div>
