<div class="container">
  <div class="container-examination">
    <mat-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="formControlAppeared">
        <ng-template matStepLabel>Appeared</ng-template>
        <div class="steeper-title">
          <h1 class="header-ex">Is patient appear on scheduled appointment?</h1>
          <mat-divider class="sub-color"></mat-divider>
        </div>
        <mat-radio-group  [formControl]="formControlAppeared"
                          aria-labelledby="example-radio-group-label"
                          class="example-radio-group">
          <mat-radio-button  value="yes" class="example-radio-button" > Yes
          </mat-radio-button>
          <mat-radio-button  value="no" class="example-radio-button-second" > No
          </mat-radio-button>
        </mat-radio-group>
        <div align="center" class="align-me margin-t-40">
          <button class="btn-b" mat-flat-button (click)="appearedNext(stepper)">Next</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="formControlValidDonor">
        <ng-template matStepLabel>Valid donor</ng-template>
        <div class="steeper-title margin-t-30">
          <h1 class="header-ex">Is patient valid donor?</h1>
          <mat-divider class="sub-color"></mat-divider>
        </div>
        <div class="steeper-title header-donation">
          {{IsValidDonor()}}
        </div>
        <div *ngIf="!validDonor" class="margin-t-30">
        <div *ngFor="let x of formAnswers; let i=index" class="row">
          <div class="col-4">
            <h3 class="rs-p">Reason{{i}}:</h3>
          </div>
          <div class="col-8">
            <p class="reason-p">{{x.reason}}</p>
          </div>
          <mat-divider class="sub-color"></mat-divider>
        </div>
        </div>
        <div class="steeper-title">
          <h2 class="valid-h">Is patient able to donate blood?</h2>
          <mat-divider class="sub-color"></mat-divider>
        </div>
        <mat-radio-group  [formControl]="formControlValidDonor"
                          aria-labelledby="example-radio-group-label"
                          class="example-radio-group">
          <mat-radio-button  value="yes" class="example-radio-button" > Yes
          </mat-radio-button>
          <mat-radio-button  value="no" class="example-radio-button-second" > No
          </mat-radio-button>
        </mat-radio-group>
        <div class="row margin-t-30">
          <div  class="col-6 align-elems">
            <button class="btn-cols" mat-flat-button matStepperPrevious>Back</button>
          </div>
          <div class="col-6 align-elems">
            <button class="btn-cols" mat-flat-button (click)="isSuitableNext(stepper)">Next</button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Examine</ng-template>
        <div class="steeper-title margin-t-30">
          <h1 class="header-ex">Submit examination details</h1>
          <mat-divider class="sub-color"></mat-divider>
        </div>
        <form [formGroup]="formBloodDonation">
        <mat-form-field class="input-examination" appearance="fill">
          <mat-label>Select blood type</mat-label>
          <mat-select formControlName="bloodType">
            <mat-option value="A_POSITIVE">A+</mat-option>
            <mat-option value="A_NEGATIVE">A-</mat-option>
            <mat-option value="B_POSITIVE">B+</mat-option>
            <mat-option value="B_NEGATIVE">B-</mat-option>
            <mat-option value="O_POSITIVE">O+</mat-option>
            <mat-option value="O_NEGATIVE">O+</mat-option>
            <mat-option value="AB_POSITIVE">AB+</mat-option>
            <mat-option value="AB_NEGATIVE">AB</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input-examination" appearance="fill">
          <mat-label>Taken blood units</mat-label>
          <input formControlName="bloodUnit" matInput>
        </mat-form-field>
        <mat-form-field class="text-area-an" appearance="fill">
          <mat-label>Write note for doctor</mat-label>
          <textarea formControlName="noteForDoctor" class="an-area" matInput placeholder="Write note for doctor..."></textarea>
        </mat-form-field>
        </form>
        <div class="row margin-t-30">
          <div  class="col-6 align-elems">
            <button class="btn-cols" mat-flat-button matStepperPrevious>Back</button>
          </div>
          <div class="col-6 align-elems">
            <button class="btn-cols" mat-flat-button (click)="nextBloodDonation(stepper)">Next</button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <div *ngIf="!submitedEquipment">
        <ng-template matStepLabel>Equipment</ng-template>
        <div class="steeper-title margin-t-30">
          <h1 class="header-ex">Submit which equipment you used</h1>
          <mat-divider class="sub-color"></mat-divider>
        </div>
        <mat-form-field appearance="fill" class="input-examination">
          <mat-label>Equipments</mat-label>
          <mat-select [formControl]="formControlEquipments" multiple>
            <mat-option *ngFor="let eq of equipments" [value]="eq.name">{{eq.name}}</mat-option>
          </mat-select>
        </mat-form-field>
          <div class="row margin-t-30">
          <div  class="col-6 align-elems">
            <button class="btn-cols" mat-flat-button matStepperPrevious>Back</button>
          </div>
          <div class="col-6 align-elems">
            <button class="btn-cols" mat-flat-button (click)="showQuantity()">Next</button>
          </div>
          </div>
        </div>
        <div *ngIf="submitedEquipment">
          <ng-template matStepLabel>Equipment quantity</ng-template>
          <div class="steeper-title margin-t-30">
            <h1 class="header-ex">Submit quantity for each equipment you used</h1>
            <mat-divider class="sub-color"></mat-divider>
          </div>
          <form [formGroup]="formEquipmentQuantity">
            <div formArrayName="inputs">
              <div *ngFor="let input of inputs.controls; let i = index">
                <mat-form-field appearance="fill" class="input-examination">
                  <mat-label>{{this.selectedEquipments[i]}} quantity</mat-label>
                  <input matInput [formControlName]="i" type="number">
                </mat-form-field>
              </div>
              <div class="row margin-t-30">
                <div  class="col-6 align-elems">
                  <button class="btn-cols" mat-flat-button (click)="deleteInputs($event)">Back</button>
                </div>
                <div class="col-6 align-elems">
                  <button class="btn-cols" mat-flat-button (click)="nextEquipmentQuantity(stepper)">Next</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Finish</ng-template>
        <div class="steeper-title margin-t-30">
          <h1 class="header-ex">Finish</h1>
          <mat-divider class="sub-color"></mat-divider>
          <div class="row">
            <div class="col-6">
              <div class="text-l inline-d">
                <h2 class="header-finish">Is patient appeared:&nbsp;{{formControlAppeared.value!}}</h2>
                <mat-divider class="sub-color"></mat-divider>
              </div>
            </div>
            <div class="col-6">
              <div class="inline-d">
                <h2 class="header-finish text-c">Is patient suitable blood donor:&nbsp;{{formControlValidDonor.value!}}</h2>
                <mat-divider class="sub-color"></mat-divider>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="steeper-title">
                <h2 class="header-finish">Blood donation</h2>
                <mat-divider class="sub-color"></mat-divider>
                <mat-list>
                  <div class="in-block">
                    <mat-list-item>
                      <div class="list-text">
                        <span class="finish-text">Blood type:</span>&nbsp; {{formBloodDonation.controls['bloodType'].value!}}
                      </div>
                    </mat-list-item>
                    <mat-list-item>
                      <div class="list-text">
                        <span class="finish-text">Blood unit:</span>&nbsp; {{bloodDonation.bloodUnit}}
                      </div>
                    </mat-list-item>
                    <mat-list-item>
                      <div class="list-text">
                        <span class="finish-text">Note for doctor:</span>&nbsp; {{bloodDonation.noteForDoctor}}
                      </div>
                    </mat-list-item>
                  </div>
                </mat-list>
              </div>
            </div>
            <div class="col-6">
              <div class="steeper-title">
                <h2 class="header-finish">Equipment</h2>
                <mat-divider class="sub-color"></mat-divider>
              </div>
              <mat-list #equipment>
                <div class="row">
                  <mat-list-item *ngFor="let s of centerEquipments" class="col-6 col-md-6">
                    <div class="list-text col-6">
                      <span class="finish-text">Equipment name:</span>&nbsp;{{s.equipmentName}}
                    </div>
                    <div class="list-text-r col-6">
                      <span class="finish-text">Quantity:</span>&nbsp;{{s.quantity}}
                    </div>
                  </mat-list-item>
                </div>
              </mat-list>
            </div>
          </div>
          <div align="center" class="align-me margin-t-40">
            <button class="btn-b" mat-flat-button (click)="finishExamination()">Finish</button>
          </div>
        </div>
      </mat-step>
     </mat-stepper>
  </div>
</div>
