<div class="container">
  <div class="container-f">
    <div class="head">
      <h1 class="header" >Your information</h1>
    </div>

    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel disabled class="component" style="margin-top: 25px">
        <mat-expansion-panel-header style="color:#333333;">
          <mat-panel-title class="text" >
            Name:
          </mat-panel-title>
          <mat-panel-description>
            {{loggedCustomer.name}}
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel disabled class="component">
        <mat-expansion-panel-header style="color:#333333;">
          <mat-panel-title class="text" >
            Surname:
          </mat-panel-title>
          <mat-panel-description>
            {{loggedCustomer.surname}}
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel disabled class="component">
        <mat-expansion-panel-header style="color:#333333;">
          <mat-panel-title class="text" >
            Gmail:
          </mat-panel-title>
          <mat-panel-description>
            {{loggedCustomer.email}}
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="loggedCustomer.role=='ROLE_CUSTOMER'"  class="component">
        <mat-expansion-panel-header style="color:#333333;">
          <mat-panel-title class="text" >
            Loyalty program:
          </mat-panel-title>
          <mat-panel-description>
            {{loyaltyProgram.loyaltyProgram.customerCategory}}
            -{{loyaltyProgram.currentPoints}} points
          </mat-panel-description>
        </mat-expansion-panel-header>
        {{loyaltyProgram.loyaltyProgram.loyaltyConvenience}}
      </mat-expansion-panel>

      <mat-expansion-panel class="component">
        <mat-expansion-panel-header style="color:#333333;">
          <mat-panel-title class="text" >
            Adrress:
          </mat-panel-title>
          <mat-panel-description>
            {{loggedCustomer.country}},
            {{loggedCustomer.city}},
            {{loggedCustomer.street}},
            {{loggedCustomer.streetNumber}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field appearance="outline">
          <mat-label > Insert Country</mat-label>
          <input [(ngModel)]="country" matInput placeholder="Country" >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label > Insert City</mat-label>
          <input [(ngModel)]="city" matInput placeholder="City" >
        </mat-form-field>
        <mat-form-field  appearance="outline">
          <mat-label > Insert street</mat-label>
          <input [(ngModel)]="street" matInput placeholder="Street" >
        </mat-form-field>
        <mat-form-field  appearance="outline" >
          <mat-label > Insert number</mat-label>
          <input [(ngModel)]="streetNumber" matInput placeholder="Number" >
        </mat-form-field>
        <mat-action-row>
          <button style="margin-right: 10%; " (click)="changeAddress()" mat-raised-button >Confirm</button>
        </mat-action-row>



      </mat-expansion-panel>



      <mat-expansion-panel class="component">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Username:
          </mat-panel-title>
          <mat-panel-description>
            {{loggedCustomer.username}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field  appearance="outline">
            <mat-label > Change username</mat-label>
            <input [(ngModel)]="username" matInput placeholder="username" >
          </mat-form-field>
          <mat-action-row>
            <button (click)="changeUsername()" mat-raised-button >Confirm</button>
          </mat-action-row>

        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="component">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Phone:
          </mat-panel-title>
          <mat-panel-description>
            {{loggedCustomer.phone}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div >
          <mat-form-field  appearance="outline">
            <mat-label > Change phone:</mat-label>
            <input [(ngModel)]="phone" matInput placeholder="username" >
          </mat-form-field>
          <mat-action-row>
            <button mat-raised-button (click)="changePhone()" >Confirm</button>
          </mat-action-row>

        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="component" style="margin-bottom: 20px">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Change password?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field  appearance="outline">
            <mat-label > Change password</mat-label>
            <input type="password" [(ngModel)]="password1" matInput placeholder="username" >
          </mat-form-field>
          <mat-form-field  appearance="outline">
            <mat-label > Confirm password</mat-label>
            <input type="password" [(ngModel)]="password2" matInput placeholder="username" >
          </mat-form-field>
          <mat-action-row>
            <button (click)="changePassword()" mat-raised-button >Confirm</button>
          </mat-action-row>

        </div>
      </mat-expansion-panel>

    </mat-accordion>



  </div>

</div>

