<div class="container">
  <div class="container-f">
    <div class="title-container">
      <h1 class="title">Create System Administrator</h1>
    </div>

    <mat-form-field appearance="fill" class="input-create-center">
      <mat-label>Username:</mat-label>
      <input matInput [(ngModel)]="admin.username" placeholder="Username" >
    </mat-form-field>

    <mat-form-field appearance="fill" class="input-create-center">
      <mat-label>Name:</mat-label>
      <input matInput [(ngModel)]="admin.name" placeholder="Name"   pattern="[a-zA-Z]*" type="text" >
    </mat-form-field>

    <mat-form-field appearance="fill" class="input-create-center">
      <mat-label>Surname:</mat-label>
      <input matInput [(ngModel)]="admin.surname" placeholder="Surname"  pattern="[a-zA-Z]*" type="text" >
    </mat-form-field>

    <mat-form-field appearance="fill" class="input-create-center">
      <mat-label>Password:</mat-label>
      <input matInput [(ngModel)]="admin.password" placeholder="Password" type="password" >
    </mat-form-field>

    <mat-form-field appearance="fill" class="input-create-center">
      <mat-label>Email:</mat-label>
      <input matInput [(ngModel)]="admin.email" placeholder="Email" >
    </mat-form-field>

    <mat-form-field appearance="fill" class="input-create-center">
      <mat-label>Phone:</mat-label>
      <input matInput [(ngModel)]="admin.phone" placeholder="Phone"  pattern="[0-9]*" >
    </mat-form-field>

    <mat-form-field appearance="fill" class="input-create-center">
      <mat-label>JMBG:</mat-label>
      <input matInput [(ngModel)]="admin.jmbg" placeholder="JMBG"  pattern="[0-9]{13,13}"  >
    </mat-form-field>

    <mat-form-field appearance="fill" class="input-create-center">
      <mat-label>Select gender:</mat-label>
      <mat-select [(value)]="admin.gender" required>
        <mat-option value="FEMALE">Female</mat-option>
        <mat-option value="MALE">Male</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input-create-center">
      <mat-label>Country:</mat-label>
      <input matInput [(ngModel)]="admin.country" placeholder="Country" pattern="[a-zA-Z]*" type="text" >
    </mat-form-field>

    <div class="address-container" class="input-create-center">
      <mat-form-field appearance="fill" >
        <mat-label>City:</mat-label>
        <input matInput [(ngModel)]="admin.city" placeholder="City"   pattern="[a-zA-Z]*" type="text" >
      </mat-form-field>
      <mat-form-field appearance="fill" >
        <mat-label>Street:</mat-label>
        <input matInput [(ngModel)]="admin.street" placeholder="Street"  >
      </mat-form-field>
      <mat-form-field appearance="fill" >
        <mat-label>Street number:</mat-label>
        <input matInput [(ngModel)]="admin.streetNumber" placeholder="Street number"  >
      </mat-form-field>
      <div align="end">
        <button mat-flat-button color="primary" (click)="createAdmin()" [disabled]="emptyAdminValidation()">Submit</button>
      </div>
      <lib-ng-toast></lib-ng-toast>
    </div>
  </div>
</div>
